<div class="border border-info px-4 py-2 mt-2">
  <form [formGroup]="postForm" novalidate (submit)="submit()">
    <div class="mb-3">
      <label for="text" class="form-label">Content</label>
      <input type="text" class="form-control" formControlName="content" id="text">
    </div>
    <button type="button" class="btn btn-primary" (click)="submit()">Submit</button>
  </form>
</div>

<ng-container *ngIf="posts && posts.length > 0">
  <div 
    *ngFor="let post of posts; index as i"
    class="border border-info"
    [ngClass]="{
      'mt-2 mb-1': i === 0,
      'my-1': i !== 0
    }"
  >
    <div class="row m-0">
      <div class="col-10 m-0 p-1">
        <div class="d-flex align-items-end mb-1">
          <h4 class="m-0">{{post.user.userName}}</h4>
          <span class="ms-2">{{post.createdOn | date : "dd/MM/yyyy HH:mm" : "id"}}</span>
        </div>
        <p class="m-0">{{post.content}}</p>
      </div>
      <div 
        class="col-2 m-0 border-start border-info cursor-pointer"
        (click)="goToDetail(post.postId)"  
      >
        <div class="p-1">
          <h3 class="text-center">{{post.comments.length}}</h3>
          <p class="m-0 text-center">comment{{post.comments.length > 1 ? 's' : ''}}</p>
        </div>
        <div class="p-1">
          <h3 class="text-center">{{post.likes.length}}</h3>
          <p class="m-0 text-center">like{{post.likes.length > 1 ? 's' : ''}}</p>
        </div>
      </div>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="!posts || posts.length < 1">
  <p class="text-danger">Belum ada postingan</p>
</ng-container>