<ng-container *ngIf="post">
  <div class="border border-info mt-2">
    <div class="p-1">
      <div class="d-flex align-items-end mb-1">
        <h4 class="m-0">{{post.user.userName}}</h4>
        <span class="ms-2">{{post.createdOn | date : "dd/MM/yyyy HH:mm" : "id"}}</span>
      </div>
      <p class="m-0">{{post.content}}</p>
    </div>
    <div class="mt-2 p-1 border-top border-info">
      <span>{{post.likes.length}} like{{post.likes.length > 1 ? 's' : ''}}</span>
    </div>
  </div>
  <div class="d-flex align-items-end">
    <p class="px-1 m-0 fw-bold">Comments</p>
    <span class="ms-2">({{post.comments.length}})</span>
  </div>

  <div class="border-bottom py-2 mt-2">
    <form [formGroup]="commentForm" novalidate (submit)="onSubmitComment()">
      <div class="mb-3">
        <label for="text" class="form-label">Comment</label>
        <textarea 
          type="text" 
          class="form-control" 
          formControlName="content" 
          id="text"
          rows="2"
          placeholder="Komen di sini..."
        ></textarea>
      </div>
      <button type="button" class="btn btn-primary" (click)="onSubmitComment()">Submit</button>
    </form>
  </div>

  <div 
    class="border-bottom p-1 mt-2"
    *ngFor="let comment of post.comments"  
  >
    <div class="d-flex align-items-end mb-1">
      <h4 class="m-0">{{comment.user.userName}}</h4>
      <span class="ms-2">{{comment.createdOn | date : "dd/MM/yyyy HH:mm" : "id"}}</span>
    </div>
    <p class="m-0">{{comment.content}}</p>
  </div>
</ng-container>