<div class="quiz-container">
  <div class="indicator-box" [ngStyle]="{'top': scrollBarTop + 'px'}">
    <div #scroll class="bg-info" style="height: 100%; transition: .1s;"></div>
  </div>
  <div 
    class="row m-0 scroll-wrapper"
    [ngClass]="{
      'justify-content-end': !isCaptionForm,
      'justify-content-center': isCaptionForm
    }"  
  >
    <div 
      #container 
      class="col-6 p-0 scroll-box py-3" 
      (scroll)="onScroll()"
      (scrollend)="isQuestionSelected = false"
    >
      <form [formGroup]="quizForm" novalidate>
        <!-- Caption -->
        <div class="border p-2" *ngIf="isCaptionForm">
          <h2>Create a Quiz!</h2>
          <div class="input-box mb-3">
            <input type="text" [formControl]="quizForm.get('title')" required>
            <span class="input-label">Title</span>
          </div>
  
          <div class="input-box mb-1">
            <textarea [formControl]="quizForm.get('description')" required rows="5"></textarea>
            <span class="input-label">Description</span>
          </div>
  
          <div class="d-flex justify-content-end">
            <button
              [disabled]="!isCaptionValid"
              (click)="goToQuestionForms()"
            >Create</button>
          </div>
        </div>

        <ng-container *ngIf="!isCaptionForm">
          <div formArrayName="quizes">
            <ng-container *ngFor="let quiz of quizes.controls; index as i">
              <ng-container *ngIf="scrollMode">
                <div [class.pt-2]="i != 0" #questions>
                  <div class="border p-2">
                    <div class="d-flex justify-content-between">
                      <h5>Pertanyaan {{i + 1}}</h5>
                      <i class="bi bi-trash3-fill text-danger" (click)="deleteQuestion(i)"></i>
                    </div>
                    <textarea 
                      rows="3" 
                      class="w-100" 
                      placeholder="Tulis pertanyaan di sini..."
                      [formControl]="quiz.get('question')"
                    ></textarea>
                    <p class="text-danger" *ngIf="quiz.get('question').invalid && (quiz.get('question').touched || quiz.get('question').dirty)">
                      Pertanyaan harus diisi!
                    </p>
      
                    <div *ngFor="let answer of getAnswers(i).controls; index as j" class="mb-2 mt-1">
                      <!-- <input type="radio" class="me-2" name="question-{{i}}" (change)="assignAnswer(i, j)" /> -->
                      <app-radio-button
                        name="question-{{i}}"
                        value="{{j}}"
                        class="me-1"
                        id="answer-{{i}}-{{j}}"
                        [checked]="checkAnswer(i, j)"
                        (onSelect)="assignAnswer(i, $event)"
                      ></app-radio-button>
                      <input 
                        type="text" 
                        class="answer" 
                        placeholder="Jawaban {{j + 1}}" 
                        [formControl]="answer" 
                      />
                      <i class="bi bi-x-lg ms-2 text-danger" (click)="deleteAnswer(i, j)"></i>
                      <p class="text-danger" *ngIf="answer.invalid && (answer.touched || answer.dirty)">
                        Jawaban harus diisi!
                      </p>
                    </div>
      
                    <p class="fw-bold mb-2">Jawaban: <span class="fw-light">{{getAnswer(i)}}</span></p>
      
                    <button (click)="addAnswer(i)">Add Answer</button>
                  </div>
                </div>
              </ng-container>

              <ng-container *ngIf="!scrollMode && questionNum == i">
                <div #questions>
                  <div class="border p-2">
                    <div class="d-flex justify-content-between">
                      <h5>Pertanyaan {{i + 1}}</h5>
                      <i class="bi bi-trash3-fill text-danger" (click)="deleteQuestion(i)"></i>
                    </div>
                    <textarea 
                      rows="3" 
                      class="w-100" 
                      placeholder="Tulis pertanyaan di sini..."
                      [formControl]="quiz.get('question')"
                    ></textarea>
                    <p class="text-danger" *ngIf="quiz.get('question').invalid && (quiz.get('question').touched || quiz.get('question').dirty)">
                      Pertanyaan harus diisi!
                    </p>
      
                    <div *ngFor="let answer of getAnswers(i).controls; index as j" class="mb-2 mt-1">
                      <!-- <input type="radio" class="me-2" name="question-{{i}}" (change)="assignAnswer(i, j)" /> -->
                      <app-radio-button
                        name="question-{{i}}"
                        value="{{j}}"
                        class="me-1"
                        id="answer-{{i}}-{{j}}"
                        [checked]="checkAnswer(i, j)"
                        (onSelect)="assignAnswer(i, $event)"
                      ></app-radio-button>
                      <input 
                        type="text" 
                        class="answer" 
                        placeholder="Jawaban {{j + 1}}" 
                        [formControl]="answer" 
                      />
                      <i class="bi bi-x-lg ms-2 text-danger" (click)="deleteAnswer(i, j)"></i>
                      <p class="text-danger" *ngIf="answer.invalid && (answer.touched || answer.dirty)">
                        Jawaban harus diisi!
                      </p>
                    </div>
      
                    <p class="fw-bold mb-2">Jawaban: <span class="fw-light">{{getAnswer(i)}}</span></p>
      
                    <button (click)="addAnswer(i)" class="me-2">Add Answer</button>
                    <button 
                      class="me-2"
                      [disabled]="i == 0"
                      (click)="questionNum = questionNum - 1" 
                    >Previous</button>
                    <button
                      [disabled]="i == quizes.controls.length - 1" 
                      (click)="questionNum = questionNum + 1"
                    >Next</button>
                  </div>
                </div>
              </ng-container>
            </ng-container>
          </div>
        </ng-container>
      </form>
    </div>

    <div class="col-3 px-2 py-3" *ngIf="!isCaptionForm">
      <div class="row border m-0 pt-2 ps-2 mb-2">
        <div class="col-3 p-0 mb-2 pe-2" *ngFor="let quiz of quizes.controls; index as i">
          <div 
            class="border py-1 d-flex justify-content-center align-items-center cursor-pointer"
            [ngClass]="{
              'bg-danger text-white': questionNum == i
            }" 
            (click)="scrollTo(i)"
          >
            <span>{{i + 1}}</span>
            <i *ngIf="questionHasAnswer(i)" class="bi bi-check2 text-success ms-1"></i>
          </div>
        </div>
      </div>

      <button (click)="addQuestion()" class="me-2 mb-2">Add Question</button>
      <button (click)="goToQuestionForms()" class="me-2 mb-2">Back to Caption</button>
      <button (click)="changeMode()" class="me-2 mb-2">Change Mode</button>
      <button (click)="submit()" [disabled]="quizForm.invalid" class="me-2 mb-2">Submit</button>
    </div>

  </div>
</div>